.users {
    color: white
}

.title {
    text-align: center
}

.allDetails {
    display: flex;
    justify-content: center;
}

/* .theDetails {
    display: flex;
    justify-content: space-around;
} */