.card-img-top {
    align-self: center;
}

.detailCard {
    margin: 10% 35% ;
    background-color: black;
    color: whitesmoke
}

.detailCarousel {
    padding-bottom: 10%
}

.caption {
    color: black
}